.bd-footer {
  margin-top: 50px;
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}
.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}
.bd-footer-links li {
  display: inline-block;
}
.bd-footer-links li + li {
  margin-left: 1rem;
}
.card {
  padding: 10px;
  border: none;
}
.jumbotron {
  position: relative;
  background-color: rgba(255,255,255,0.1);
}
.jumbotron:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('http://aidesign.b0.upaiyun.com/slide2.jpg');
  width: 100%;
  background-size: cover;
  height: 100%;
  opacity : 0.4;
  z-index: -1;
}
.email {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.text-black {
  color: black;
}
a.card {
  color: black;
  text-decoration: none;
}